.container{
    height: 55px;
    width: 100%;
    background: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_left{
        margin-left: 15px;
        cursor: pointer;
        display: flex;
        gap: 5;
        align-items: center;

        h5{
            font-size: 25px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }

    .header_right{
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .cart{
            margin-right: 15px;
            cursor: pointer;
        }

        .avatar{
            cursor: pointer;
            margin-right: 5px;
            border: 1px solid white;
        }

        .nameaccount{
            color: white;
        }
    }

}